<div [formGroup]="bordersForm">
        <div [ngStyle]="getBorderRadius()" class="borders"></div>

        <label>Top left<input (input)="setBorderTopLeftRadius()" formControlName="borderRadiusTopLeft"
                        type="range" min="0" max="300"></label>
        <label>Top right<input (input)="setBorderTopRightRadius()" formControlName="borderRadiusTopRight"
                        type="range" min="0" max="300"></label>
        <label>bottom right<input (input)="setBorderBottomRightRadius()" formControlName="borderRadiusBottomRight"
                        type="range" min="0" max="300"></label>
        <label>bottom left<input (input)="setBorderBottomLeftRadius()" formControlName="borderRadiusBottomLeft"
                        type="range" min="0" max="300"></label>


</div>
<div>
        <label>{{copyToClipboard()}}</label>
</div>

<button [cdkCopyToClipboard]="copyToClipboard()">Copy to Clipboard</button>