<div [ngStyle]="getBorderRadius()" class="borders"></div>

<div [formGroup]="bordersForm">
    <div><input (input)="setBorderTopLeftRadius()" formControlName="borderRadiusTopLeft" type="tel"
            placeholder="top left"></div>
    <div><input (input)="setBorderTopRightRadius()" formControlName="borderRadiusTopRight" type="tel"
            placeholder="top right"></div>
    <div><input (input)="setBorderBottomRightRadius()" formControlName="borderRadiusBottomRight" type="tel"
            placeholder="bottom right"></div>
    <div><input (input)="setBorderBottomLeftRadius()" formControlName="borderRadiusBottomLeft" type="tel"
            placeholder="bottom left"></div>
</div>

<button (click)="test()">Test</button>