.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 300px;
    height: 300px;
    gap: 3px;
}



.input {
    width: 294px;
    height: 30px;
    border: 1px solid #666;
    border-top: none;    
    outline: none;
    overflow: hidden;
    resize: none;
    text-align: right;
}

.savedInput {
    width: 294px;
    height: 30px;
    border: 1px solid #666;
    border-bottom: none;    
    outline: none;
    overflow: hidden;
    resize: none;
}

