<h2>Calculator</h2>

<div><input id="savedInput" class="savedInput" disabled></div>
<div><input id="input" class="input" disabled></div>

<div class="grid-container">
    
    <button disabled></button>
    <button (click)="clearAll()">AC</button>
    <button (click)="clear()">C</button>
    <button (click)="defineOperation('/')">/</button>

    <button (click)="addNumber(7)">7</button>
    <button (click)="addNumber(8)">8</button>
    <button (click)="addNumber(9)">9</button>
    <button (click)="defineOperation('*')">x</button>
    <button (click)="addNumber(4)">4</button>
    <button (click)="addNumber(5)">5</button>
    <button (click)="addNumber(6)">6</button>
    <button (click)="defineOperation('-')">-</button>
    <button (click)="addNumber(1)">1</button>
    <button (click)="addNumber(2)">2</button>
    <button (click)="addNumber(3)">3</button>
    <button (click)="defineOperation('+')">+</button>
    <button>+/-</button>
    <button (click)="addNumber(0)">0</button>
    <button (click)="addDecimal()">.</button>
    <button (click)="defineOperation('=')">=</button>

</div>